/Actividades/.metadata/
/Actividades/.gitignore
/Actividades/Act3-Caso-TICKETS-SOPORTE/.metadata/
/Actividades/Act3-Caso-TICKETS-SOPORTE/bin/
/Actividades/Desafio1-Caso-PUNTO-DE-VENTA/bin/
/Actividades/Desafio1-Caso-PUNTO-DE-VENTA/.settings/
Actividades/Ejercicio1-Geometria/bin/
Actividades/Ejercicio1-Geometria/.settings/
*.class
*bin
/Actividades/pruebas
/Actividades/bodegas
/.metadata/
*.csv
*.bak_000f